---
title: Omar Jalalzada - Web Design
---

.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "Additional Projects" }

  = partial "partials/_project_navigator", :locals => {:prev_link =>"true_currency.html", :next_link=> "branding.html", :prev_state =>"active", :next_state=>"active" }

  / .main_brief.cat_main_container  
  /   .row.max_width_center
  /     .columns


  .main_projects.cat_main_container
    .row
      .cat_header
        %h5.max_width_center
          Desktop and mobile projects
    .row.main_projects_content.max_width_center


      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.virtus.idle.has-tip.tip-top{:title=>"Coming Soon", " data-tooltip " => true}
              .bg_img
              .text Virtus
            // = partial "projects/additional_clients_assets/true_currency"

      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.wondersitter.idle.has-tip.tip-top{:title=>"Stealth Mode", " data-tooltip " => true}
              .bg_img
              .text WonderSitter
            // = partial "projects/additional_clients_assets/true_currency"
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.explory.idle.has-tip.tip-top{:title=>"Stealth Mode", " data-tooltip " => true}
              .bg_img
              .text Explory
            // = partial "projects/additional_clients_assets/true_currency"

      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.agrion
              .bg_img
              .text Agrion
            = partial "projects/additional_clients_assets/agrion"


  = partial "partials/project_list"
      