---
title: Omar Jalalzada - Web Design
---

.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "Additional Client Projects" }

  = partial "partials/_project_navigator", :locals => {:prev_link =>"true_currency.html", :next_link=> "branding.html", :prev_state =>"active", :next_state=>"active", :prev_msg =>"View 'True Currency' Project", :next_msg=>"View 'Branding' Projects" }

  / .main_brief.cat_main_container  
  /   .row.max_width_center
  /     .columns

  .project_agrion.main_containers
    .row
      .columns.cat_header.color_white
        %h5
          Agrion
          %span.detail
            %p 
              I was assigned to present a re-branding concepts for Agrion. This project was presented to the teams in San Francisco and Paris for review.
            %p
              Agrion brings together entrepreneurs, investors and corporations involved in energy, clean-tech, raw materials, sustainable development, mobility and urban management.
    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/additional/agrion/logo.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/additional/agrion/color_pallete.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/additional/agrion/stationary.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/additional/agrion/badge.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/additional/agrion/web_wireframe.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/additional/agrion/web_wireframe_1.jpg"}

  / .main_projects.main_containers
  /   .row
  /     .columns.cat_header
  /       %h5
  /         Desktop and mobile projects
  /   .row.main_projects_content

  /     .columns.small-6.medium-3.large-3
  /       .custom_round_containers
  /         .main_project_viewer_container
  /           %a.main_trigger.virtus.idle.has-tip.tip-top{:title=>"Coming Soon", " data-tooltip " => true}
  /             .bg_img
  /             .text Virtus
  /           // = partial "projects/additional_clients_assets/true_currency"

  /     .columns.small-6.medium-3.large-3
  /       .custom_round_containers
  /         .main_project_viewer_container
  /           %a.main_trigger.wondersitter.idle.has-tip.tip-top{:title=>"Stealth Mode", " data-tooltip " => true}
  /             .bg_img
  /             .text WonderSitter
  /           // = partial "projects/additional_clients_assets/true_currency"
  /     .columns.small-6.medium-3.large-3
  /       .custom_round_containers
  /         .main_project_viewer_container
  /           %a.main_trigger.explory.idle.has-tip.tip-top{:title=>"Stealth Mode", " data-tooltip " => true}
  /             .bg_img
  /             .text Explory
  /           // = partial "projects/additional_clients_assets/true_currency"

  /     .columns.small-6.medium-3.large-3
  /       .custom_round_containers
  /         .main_project_viewer_container
  /           %a.main_trigger.agrion
  /             .bg_img
  /             .text Agrion
  /           = partial "projects/additional_clients_assets/agrion"


  = partial "partials/project_list"
      