---
title: Omar Jalalzada - Agrion
---


.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "Agrion, a clean-tech company" }

  .main_brief.main_conatainers  
    .row
      .columns.small-12.large-12
        .inner_width
          %p I was assigned to present a re-branding concepts for Agrion. This project was presented to the team in San Francisco, CA and Paris, France for review. 

          
          %p Agrion brings together entrepreneurs, investors and corporations involved in energy, clean-tech, raw materials, sustainable development, mobility and urban management.

  .main_showcase.main_conatainers
    .row
      .columns.large-12
        %img{:src=>"/images/projects/agrion/logo.jpg"}
        %span Logo; representing connecting, sustainability, development, platform
      .columns.large-12
        %img{:src=>"/images/projects/agrion/color_pallete.jpg"}
        %span Color Palette
      .columns.large-12
        %img{:src=>"/images/projects/agrion/stationary.jpg"}
        %span Stationary; business card, file, letterhead and envelope
      .columns.large-12
        %img{:src=>"/images/projects/agrion/badge.jpg"}
        %span Badge for conferences and networking events
      .columns.large-12
        %img{:src=>"/images/projects/agrion/social.jpg"}
        %span Template for emails and social platforms
      .columns.large-12
        %img{:src=>"/images/projects/agrion/web_wireframe_1.jpg"}
        %span Wireframes; Website Homepage
      .columns.large-12
        %img{:src=>"/images/projects/agrion/web_wireframe.jpg"}
        %span Wireframes; Blog's Homepage


  = partial "partials/project_list"
        