---
title: Omar Jalalzada - Branding Projects
---
.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "Branding Projects" }
  = partial "partials/_project_navigator", :locals => {:prev_link =>"additional_clients.html", :next_link=> "fine_arts.html", :prev_state =>"active", :next_state=>"active", :prev_msg =>"View 'Add. Clients' Project", :next_msg=>"View 'Fine Arts' Project" }
            
  .main_zeal.main_containers
    .row
      .columns.cat_header.color_white
        %h5
          Zeal
          %span.detail
            A modern day energy drink targeted to the health cautious consumers
    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/1.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/4.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/5.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/2.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/3.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/6.jpg"}
      / .columns.medium-12.large-6
      /   %img{:src=>"/images/projects/branding/zeal/7.jpg"
    
  .main_pantone.main_containers
    .row
      .columns.cat_header.color_white
        %h5
          Pantone's Tell-a-tone
          %span.detail
            Pantone takes another step to bring you the highest quality of color readers with the new customizable Tell-a-Tone. This gadget enables you to experience colors that surround you the way it has never been done before. Tell-a-Tone can read colors off any surfaces with 99.9% accuracy.
    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/1.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/2.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/3.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/4.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/5.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/6.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/7.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/8.jpg"}
      / .columns.medium-12.large-6
      /   %img{:src=>"/images/projects/branding/pantone/9.jpg"}

  .main_island.main_containers
    .row
      .columns.cat_header.color_white
        %h5
          Island Earth Farmer's Market
          %span.detail
            An organic farmers market located in the heart of San Francisco's financial district. Re-branded in attempts to attract more of of the local crowd.
    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/1.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/2.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/3.jpg"}
      / .columns.medium-12.large-6
      /   %img{:src=>"/images/projects/branding/island_earth/4.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/5.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/6.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/7.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/8.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/9.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/10.jpg"}
      / .columns.medium-12.large-6
      /   %img{:src=>"/images/projects/branding/island_earth/11.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/12.jpg"}



  = partial "partials/project_list"
        