---
title: Omar Jalalzada - Branding Projects
---


.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "Branding Projects" }
  = partial "partials/_project_navigator", :locals => {:prev_link =>"additional_clients.html", :next_link=> "fine_arts.html", :prev_state =>"active", :next_state=>"active" }

  / .main_brief.main_containers  
  /   .row
  /     .columns.small-12.large-12
  /       .inner_width
  /         %p Working with the founders of Twurrl, we needed to  effectively and intuitively utilize the Twurrl database so we can help frequent travelers save money while shopping.
          
  /         %p International travelers lose money all the time when purchasing products abroad. True Currency collects and analyzes product prices worldwide to help you minimize that loss.

            
  .main_zeal.main_containers
    .row
      .cat_header
        %h5
          Zeal
          %span.detail
            A modern day energy drink targeted to the health cautious consumers
    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/1.jpg"}
        / %span Product Shot — 3D generated mock-up of the actual product
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/4.jpg"}
        / %span Logo Concept — Grid and Layout
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/5.jpg"}
        / %span Color Palette — Brand color palette for the different flavors
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/2.jpg"}
        / %span Promotional Poster — Refresh yourself with a splash of energy
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/3.jpg"}
        / %span Product Label — Label in a industry standard layout
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/zeal/6.jpg"}
        / %span Product Packaging and Carrier - Exploded view
      / .columns.medium-12.large-6
      /   %img{:src=>"/images/projects/branding/zeal/7.jpg"}
      /   %span Branding guideline
    
  .main_pantone.main_containers
    .row
      .cat_header
        %h5
          Pantone's Tell-a-tone
          %span.detail
            Pantone takes another step to bring you the highest quality of color readers with the new customizable Tell-a-Tone. This gadget enables you to experience colors that surround you the way it has never been done before. Tell-a-Tone can read colors off any surfaces with 99.9% accuracy.
    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/1.jpg"}
        / %span Tell-a-Tone — Because your world is full of colors
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/2.jpg"}
        / %span Product Shot — Light, portable and it can fit in any pocket
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/3.jpg"}
        / %span Product Demonstration — Plug it in your smartphone's headphone jack and its ready to go
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/4.jpg"}
        / %span Tell-a-Tone In Action — Scanning the green bars on the business cards, reveals the information about the specific type of color used while printing
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/5.jpg"}
        / %span Cross Platform UI/UX Design — Demonstrating the application design across variety of mobile devices
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/6.jpg"}
        / %span Poster Design — Focusing on the main features of the device, we are using the visual hierarchy to hold a magazine by-passer's attention
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/7.jpg"}
        / %span Poster Implementation — Demonstrating placements and brand engagement in public places
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/pantone/8.jpg"}
        / %span Magazine Spread — A two page magazine spread showcases how easy it is to use the device and attract and hold attention by key phrases
      / .columns.medium-12.large-6
      /   %img{:src=>"/images/projects/branding/pantone/9.jpg"}
      /   %span Branding guideline

  .main_island.main_containers
    .row
      .cat_header
        %h5
          Island Earth Farmer's Market
          %span.detail
            An organic farmers market located in the heart of San Francisco's financial district. Rebranded in attempts to attract more of of the local crowd.
    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/1.jpg"}
        / %span Concept Logo
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/2.jpg"}
        / %span Stationary and logo stagin
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/3.jpg"}
        / %span Business Cards — Personal and Corporate
      / .columns.medium-12.large-6
      /   %img{:src=>"/images/projects/branding/island_earth/4.jpg"}
      /   %span Branding guideline
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/5.jpg"}
        / %span Promotional Poster I
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/6.jpg"}
        / %span Promotional Poster II
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/7.jpg"}
        / %span Promotional Poster III
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/8.jpg"}
        / %span Indoor promotion and signages
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/9.jpg"}
        / %span Outdoor Sign-age
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/10.jpg"}
        / %span Website Mock Up
      / .columns.medium-12.large-6
      /   %img{:src=>"/images/projects/branding/island_earth/11.jpg"}
      /   %span Magazine Spread
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/branding/island_earth/12.jpg"}
        / %span Magazine Spread



  = partial "partials/project_list"
        