.main_inner_container
  .main_header
    .row
      .columns
        .page_title
          %a{:href=>'/'}
            %h1 OMAR JALALZADA
            %h2 eats, a mobile app
  .main_timeline 
    .row
      .columns
        .timeline

  .main_projects
    .row
      .columns
        = partial "partials/project_list"