---
title: Omar Jalalzada - Fine Arts
---
.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "Fine Arts" }
  = partial "partials/_project_navigator", :locals => {:prev_link =>"branding.html", :next_link=> "#", :prev_state =>"active", :next_state=>"disabled", :prev_msg =>"View 'Branding' Projects", :next_msg=>"(╯°□°）╯︵ ┻━┻"}

  .main_afghanistan.main_containers
    .row
      .columns.cat_header.color_white
        %h5
          Afghanistan
          %span.detail
            This is a book about Afghanistan, it opposes the negative connotations of mainstream media by showcasing the positive attributes of the country. Its a decorated box which contains a book that recites a famous poem about peace and it have cards that highlights elements of what makes afghans, afghans.

    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/fine_arts/afghanistan/1.jpg"}
        / %span Exterior View, The content of the book
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/fine_arts/afghanistan/2.jpg"}
        / %span Exterior View, The content of the book
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/fine_arts/afghanistan/3.jpg"}
        / %span The Black Book, This small 10 page book that fits inside the box, has a Rumi poem with pictures from Afghanistan's beautiful landscapes
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/fine_arts/afghanistan/4.jpg"}
        / %span Individual Cards, These cards represent a key element in the Afghan culture
      .columns.centered
        %img{:src=>"/images/projects/fine_arts/afghanistan/5.jpg"}
        / %span Inside the Black Book, Hand typed using an old Russian type writer a brief script about what really is Afghanistan
    
            
  .main_idiomatic.main_containers
    .row
      .columns.cat_header.color_white
        %h5
          Idiomatic Expressions
          %span.detail
            A book about alphabets, their is a famous saying or idioms starting with every single letter. With 6 different spreads and each are uniquely designed, and folded in whats called a Turkish Map Fold.
    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/fine_arts/idiomatic/1.jpg"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/fine_arts/idiomatic/2.jpg"}
      .columns.centered
        %img{:src=>"/images/projects/fine_arts/idiomatic/3.jpg"}

    

  = partial "partials/project_list"
        