---
title: Macys and Bloomingdales
---

.main_mcombcom
  .top_section_desc
    .row
      .columns.logo_container
        .logo
        .main_desc
          Re-inventing a mobile experience for two hertiage American brands that needs to modernize their mobile strategies
        
        .client_section
          .mcom macys
          .bcom bloomingdale

        .project_brief
          .header
            Brief details and Project Conditions
          %ul
            %li 1) Provide both actionable (short term) and strategic (long term) solutions
            %li 2) Adhere to the technical infrastructure of existting legacy systems
            %li 3) Each brand’s experience needs to be contextual

  .attribute_section.animate_when_in_view
    .row
      .columns.medium-4.large-4
        .inner_att_containers
          .icon.timeline
          .text
            .topic
              Timeline
            .desc
              3 week design sprint involving internal stakeholders
      .columns.medium-4.large-4
        .inner_att_containers
          .icon.team
          .text
            .topic
              Team
            .desc
              %span Omar Jalalzada — UI Lead
              %span Pauly Ting — UX Lead 
          
      .columns.medium-4.large-4
        .inner_att_containers
          .icon.tools
          .text
            .topic
              Tools
            .desc
              Adobe Illustrator & Photoshop, Omnigraffle and Invision App


  .the_process_section
    
    .row.section_header
      .columns
        %h1 The Process



    .row
      .columns
        %ul{"data-orbit" => "", "data-options" => "slide_number: false; timer: true; timer_speed:5000; pause_on_hover:true;"}
          %li{"data-orbit-slide"=>"process-1"}
            %img
            .inner_process_containers
              %h2 1) Correlate
              %ul
                %li Brain-dump of mobile and real-world retail experiences 
                %li Re-framed and humanized the problems - "what are people really wanting here?"
                %li Identified 3 interesting 'pain points' to explore - content digestion, path to store, content relevancy
          %li{"data-orbit-slide"=>"process-2"}
            .inner_process_containers
              %h2 2) Analyze
              %ul 
                %li Wrote the specific unbiased questions and conducted in-person interviews
                %li Distilled and analyzed key themes
                %li Created a goal-oriented user-persona and user-story workflow
                store, content relevancy
          %li{"data-orbit-slide"=>"process-3"}
            .inner_process_containers
              %h3 3) Prototype
              %ul 
                %li Assigned screens views per the user-story
                %li Drafted lo-fi wireframes and UI elements
                %li Built interactive app prototype store, content relevancy



  .main_switch_container  
    .row
      .columns.medium-6.large-6
        %dl.tabs{"data-tab" => "", "data-magellan-expedition" => "fixed"}
          %dd.active
            %a{href: "#panel2-1"} Macys
          %dd
            %a{href: "#panel2-2"} Bloomindales
  
  .tabs-content
    .mcom_main_container#panel2-1.content.active
      .top_intro_section
        .row
          .columns.medium-6.large-6
            .logo
            .desc
              Deliver a contextually relevant shopping experience.
      
      .homepage_intro_section
        .row
          .columns.medium-6.large-6
            .main_paragraph
              .icon
              %p A clutter free Homescreen with a clear eye path and a digestible overview

            .feature_lists
              %ul
                %li Fullscreen advertising to allow a thematic experience
                %li One tap access to Search, Scan, Shop and other prioritized CTAs
                %li Personalized content based on the users bio and shopping preferences
          .columns.medium-6.large-6
            .supporting_image.animate_when_in_view

      .features_section
        .row
          .columns.medium-4.large-4
            .inner_container
              .img
              %p A flat heirarchy in the bottom bar that provides an intuitive navigation.
          .columns.medium-4.large-4
            .inner_container
              .img
              %p Breaks content into bite-size pieces to prevent disorientation 
          .columns.medium-4.large-4
            .inner_container
              .img
              %p Contextually aware content that adapts for a richer in-store experience

      .pdp_section
        .row
          .columns.medium-6.large-6.large-centered.medium.centered.small-centered 
            %p.main_paragraph
              Neatly organized  Product Display Page with a focus on imagery and functional personalization
        .row
          .columns.medium-4.large-4
            .feature
              .icon
              %p Intuitively change product attribute on the same page
            .feature
              .icon
              %p Suggesting products and tindicating in-store availablitiy

          .columns.medium-4.large-4
            .phone
          .columns.medium-4.large-4
            .feature
              .icon
              %p Full screen image and video gallery
            .feature
              .icon
              %p Quick summary on the accordion level
        .row
          .image_grid_holder
            .img

    .bcom_main_container#panel2-2.content
      .top_intro_section
        .row
          .columns.medium-6.large-6
            .logo
            .desc
              Deliver a  sophisticated and intimate shopping experience for fashion forward consumers 
        .row
          .image

      .homepage_intro_section
        .row
          .columns.medium-6.large-6
            .main_paragraph
              .icon
              %p The Homescreen introduces lookbooks, a more editorial approach to m-commerce. Highly personalized content keeps the user coming back to the app. 

            .feature_lists
              %ul
                %li Search/scan is minimized in an editorial and lookbook experience
                %li Each content block is a link to a campaign, lookbook, pdp or editorial content item
                %li Use of large full screen visuals with color, depth, clarity, and visual detail

      .lookbook_section
        .row
          .columns.medium-6.large-6.large-centered.medium.centered.small-centered 
            %p.main_paragraph
              Each lookbook contains an easy to browse outfit layout for the user to pick from
      
      .lookbook_images  
        .row
          .columns
            .iphone_images
            






  