#project_list {
  background-color: $primary-color;
  padding: 90px 0;

  .cat_h_container {
    padding: 20px 0;
    .cat_h {
      border-bottom: 1px solid #eee;
      display: block;
      overflow: hidden;
      h5 {
        color: white;  
      }
    }    
  }

  .showcase {
    .indiv_proj {
      a {
        height: 200px;
        margin: 10px 0;
        display: block;
        overflow: hidden;
        position: relative;
        background-color: #ddd;     
        background-image: image-url("sprites/project_list_sprite_v2.png");
        @include border-radius(2px);
        @include box-shadow(0 0 1px #000);
        &:hover {
          .text {
            padding: 10px 10px 15px 10px;
            background-color: rgba(0,0,0,0.8);
          }
        }
        .text {
          @include transition(all .1s ease-out);
          background-color: rgba(0,0,0,0.6);
          font-weight: 500;
          color: white;
          padding: 10px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
        }
      }
      &.moovweb a{
        // background-position-x: -400px;
         }
      &.eats a{
        background-position-x: -740px;
         }
      &.twurrl a{
        background-position-x: -370px;
         }
      &.clients a{
        background-position: 0px -200px;
         }
      &.branding a{
        background-position: -370px -200px;
         }
      &.fine_arts a{
        background-position: -740px -200px;
      }
    }
  }

  a {
    display: block;
  }
}