
.main_nav_to_work {
  background-color: $primary-color;

  border-bottom: 2px solid darken($primary-color, 10%);
  border-top: 2px solid darken($primary-color, 10%);
  padding: 40px 0;
  .cat_header {
    margin-bottom: 40px;
    h5 {
      color: white;
    }
  }
  .showcase {
    max-width: 600px;
    .custom_round_containers {
      a .bg_img {
        background-color: #ddd;
        background-image: image-url("sprites/project_list_sprite.png");
        background-size: 400px 200px;
        &.idle {
          background-position: -200px -100px;
        }
      }
      .text {
        text-shadow: 0 1px 0 darken($primary-color, 10%);
        color: white;
      }
      &.moovweb a .bg_img{
        background-position-x: -200px; }
      &.eats a .bg_img{
        background-position-x: -100px; }
      &.twurrl a .bg_img{
        background-position-x: -300px; }
      &.branding a .bg_img{
        background-position: 0px -100px; }
      &.fine_arts a .bg_img{
        background-position: -100px -100px;
      }
        
    }
  }
}
