body.projects_agrion {
  background-color: $black;  
  color: white;

  .main_header {
    background-color: $primary-color;
    height: 170px;
  }
  .main_brief {
    .inner_width {
      max-width: 700px;
      margin: auto;
    }
  }
}