body.projects_branding {


    .main_header {
      background-image: image-url("projects/branding/cover.jpg");
    }


  .main_containers {
    padding: 90px 0;
    &.main_brief {
      background-color: $secondary-color;
      color: white;
    }
    &.main_zeal {
      background-color: darken($secondary-color, 2%);
      border-top: 1px solid darken($secondary-color, 5%);
    }
    &.main_pantone {
      background-color: darken($secondary-color, 5%);
      border-top: 1px solid darken($secondary-color, 8%);
    }
    &.main_island {
      background-color: darken($secondary-color, 8%);
      border-top: 1px solid darken($secondary-color, 10%);
    }
  }


}