body.projects_branding {


    .main_header {
      background-image: image-url("projects/branding/cover.jpg");
    }


  .main_containers {
    .columns span {
      font-size: 14px;
      line-height: 1.8;
      color: lighten($secondary-color, 40%);
      
    }
    .cat_header {
      padding-top: 50px;
      h5 {
        font-size: 22px;
        color: white;
        border-bottom: 1px solid darken($secondary-color, 10%);
        .detail {
          display: block;
          font-size: 14px;
          opacity: 0.8;
          color: lighten($secondary-color, 40%);

        }
      }
    }
    &.main_brief {
      background-color: $secondary-color;
      color: white;
    }
    &.main_zeal {
      background-color: darken($secondary-color, 2%);
    }
    &.main_pantone {
      background-color: darken($secondary-color, 5%);
    }
    &.main_island {
      background-color: darken($secondary-color, 8%);
    }
  }


}