body.projects_eats {


  .main_header {
    background-image: image-url("projects/eats/cover.jpg");
    background-color: $primary-color;
    .custom_img {
      width: 55%;
      max-width: 405px;
      height: 300px;
      margin: 14% auto 0;
      display: block;
      img {
        margin: auto;
      }
      // background-image: image-url("projects/cover_eats_1.png");
      // background-size: 100% auto;
      // background-repeat: no-repeat;
      // background-position: center;
    }
  }


  .main_conatainers {
    padding: 40px 0;
    h5 {
      color: white;
      border-bottom-color: white;
    }
  }

  .main_brief {
    background-color: $black;
    border-top: 2px solid tint($black, 2%);
    color: white;
    .inner_width {
      max-width: 700px;
    }
    .designed {
      .title {
        margin: 30px 0 10px 0;
        display: block;
      }
      ul {
        li {
          margin-left: 17px;
        }
      }
    }
  }

  .main_showcase {
    background-color: $black;
    border-bottom: 2px solid shade($black, 2%);
    .row span {
      color: white;
    }
  }
  .main_additional_efforts {
    padding: 40px 0;
    background-color: tint($black, 5%); 
    span {
      color: white;
    }
  }

}