body.projects_fine_arts {
  
  .main_header {
    background-image: image-url("projects/fine_arts/cover.jpg");
  }


  .main_containers {
    &.main_brief {
      background-color: $secondary-color;
      color: white;
    }
    &.main_afghanistan {
      background-color: lighten($black, 2%);
    }
    &.main_idiomatic {
      background-color: lighten($black, 5%);
    }
  }


}