body.projects_fine_arts {
  
  .main_header {
    background-image: image-url("projects/fine_arts/cover.jpg");
  }


  .main_containers {
    padding: 90px 0;
    &.main_brief {
      background-color: $secondary-color;
      color: white;
    }
    &.main_afghanistan {
      background-color: #252525;
    }
    &.main_idiomatic {
      background-color: #1d1d1d;
      border-top: 1px solid #151515;
    }
  }


}