$ts_orange_color: #f06033;
$mcom_red: #ca0813;
$main_headline_font_size: 24px;

/*body {width: 320px; border: 1px solid gold; margin: auto}*/

.projects_mcom {
  
  .main_mcombcom {

    .top_section_desc {
      background-color: $ts_orange_color;
      background-image: image-url("projects/mcom/cover.jpg");
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-size: cover;
      text-shadow: 0 1px 0 darken($ts_orange_color, 5%);
      color: white;
      text-align: center;
      
      .logo_container {
        min-height: 300px;
        .logo {
          width: 110px;
          height: 120px;
          margin: 100px auto 50px;
          background-image: image-url("projects/mcom/ts_logo.png");
          background-repeat: no-repeat;
          background-size: 100%; 
        }
        .main_desc {
          margin-bottom: 50px;  
          max-width: 800px;
          margin: 0 auto;
          h2 {
          color: white;
          display: block;
          }
        }
      }

      .client_section {
        display: block;
        overflow: hidden;
        max-width: 350px;
        margin: 40px auto 0;
        .logos {
          width: 100%;
          height: 50px;
          color: transparent;
          text-indent: -9999px;
          text-align: center;
          padding: 10px 0;
          background-repeat: no-repeat;
          background-size: 100%; 
          &.mcom {
            float: left;
            background-image: image-url("projects/mcom/mcom.png");  
          }
          &.bcom {
            float: right;
            background-image: image-url("projects/mcom/bcom.png");  
          }
        }
      }

      .project_brief {
        margin: 40px 0;
        h4 {
          color: white;
          font-weight: 500;
        }

        ul li {
          list-style: none;
        }
      }

    }



    .attribute_section {
      padding: 40px 0;
      .inner_att_containers {
        font-size: 14px;
        overflow: hidden;
        margin: 20px 0;
        opacity: 0.2;
        @include transition(all 1s ease-in-out);
      }
      .icon {
        width: 100px;
        height: 100px;
        border-right: 1px solid #eee;
        float: left;
        margin-right: 20px;
        padding-right: 20px;
        background-repeat: no-repeat;
        background-size: 60%; 
        background-position: 35px 20px;
        @include transition(all 1s ease-in-out);
        &.timeline {
          background-image: image-url("projects/mcom/spec_clock.png");  
        }
        &.team {
          background-image: image-url("projects/mcom/spec_mug.png");  
        }
        &.tools {
          background-image: image-url("projects/mcom/spec_briefcase.png");  
        }
      }
      .text {
        color: #555;
        .topic {
          font-weight: bold;
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 5px;
          font-family: "adelle", "Helvetica", Helvetica, Arial, sans-serif;
        }
        .desc {
          span {
            display: block;
          }
        }
      }

      &.start {
        .inner_att_containers {
          opacity: 1;
        }
        .icon {
          background-position: 25px 20px;
        }
      }
    }

    .the_process_section {
      background-image: image-url("projects/mcom/process_cover_1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0px 10px 120px;

      .section_header {
        h1 {
          display: none;
          text-align: center;
          width: 100%;
          color: #fff;
        }
      }

      .orbit-bullets {
        height: 110px;
        margin: 30px 0 20px 0;
        padding: 15px 0;
        li {
          width: 70px;
          height: 70px;
          margin: 0 20px;
          border: 1px solid transparent;
          background-color: transparent;
          background-size: 50%; 
          background-repeat: no-repeat;
          background-position: center;
          background-image: image-url("projects/mcom/process_analyze.png");  
          cursor: pointer;
          padding: 2px;
          @include transition(all 0.2s ease-out);
          &.active {
            border: 1px solid $ts_orange_color;
            opacity: 1;
            background-color: rgba(250,250,250,0.5);
            @include scale(1.3);
          }
          &:hover {
            opacity: 0.8;
          }

          &:first-child {
            background-image: image-url("projects/mcom/process_correlate.png");  
          }
          &:last-child {
            background-image: image-url("projects/mcom/process_prototype.png");  
          }
        }
      }


      .orbit-container{
        margin: 50px 0;

        & > ul {
          height: 200px;
          & > li {
            &.first_slide {
              /*background-color: blue;*/
            }
            display: block;
            min-height: 20px;
            .inner_process_containers {
              margin: 0 auto;
              padding: 20px;
              h3 {
                font-weight: bold;
                color: $ts_orange_color;
                text-align: center;
                margin: 0 0 70px 0;
                text-shadow: 0 1px 1px rgba(0,0,0,0.6);
              }
              ul {
                overflow: hidden;
                color: #fff;
                li {
                  list-style: none;
                  padding: 0 10px;
                  margin: 30px 0;
                  .icon {
                    width: 160px;
                    height: 160px;
                    display: block;
                    margin: 0px auto 20px auto;
                    background-size: 319%; 
                    background-repeat: no-repeat;
                    background-image: image-url("projects/mcom/process_steps_sprite.png");
                    opacity: 0.2;
                    @include transition(all 1s ease-out .1s);
                  }
                  .text {
                    display: block;
                    text-align: center;  
                    font-size: 18px;
                    line-height: 1.4;
                    color: rgba(250,250,250,0.6);
                    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
                    max-width: 350px;
                    margin: 0 auto;
                    b {
                      color: #fff;
                    }
                  }
                }
                &.humanize {
                  li .icon.human {
                    background-position: -10px -15px;
                  }
                  li .icon.context {
                    background-position: -175px -15px;
                  }
                  li .icon.focus {
                    background-position: -345px -15px;
                  }
                }
                &.research {
                  li .icon.interview {
                    background-position: -10px -180px;
                  }
                  li .icon.analyze {
                    background-position: -172px -180px;
                  }
                  li .icon.persona {
                    background-position: -345px -180px;
                  }
                }
                &.design {
                  li .icon.define {
                    background-position: -10px -355px;
                  }
                  li .icon.wireframe {
                    background-position: -172px -355px;
                  }
                  li .icon.prototype {
                    background-position: -345px -355px;
                  }
                }

              }
            }

            &.active {
              .inner_process_containers {
                ul {
                  li {
                    .icon {
                      opacity: 1;
                      background-position-y: 0px;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }



    // floating mcom bcom switch


    .main_switch_container {
      margin-top: -65px;
      *[data-magellan-expedition] {
        background-color: transparent !important;
      }

      dl {
        padding: 0;
        margin: 0;
        dd {
          a {
            background-repeat: no-repeat;
            background-size: 100%;             
            background-color: transparent;
            background-position: center;
            text-indent: -9999px;
            opacity: 0.3;
          }
          &.mcom {
            background-color: $mcom_red;
            width: 140px;
            padding: 0 20px;
            a {
             background-image: image-url("projects/mcom/mcom.png");  
            }
          }
          &.bcom {
            background-color: #000;
            width: 200px;
            padding: 0 20px;
            a {
             background-image: image-url("projects/mcom/bcom.png");  
            }
          }
          &.active {
            a {
              opacity: 1;
            }
          }
        }
      }
    }

    .tabs-content {
      margin: 0 !important;
    }

    .mcom_main_container {
      background-color: #1a1a1a;
      min-height: 500px;
      padding: 0 !important;
      .top_intro_section {
        background-color: $mcom_red;
        color: white;
        height: 600px;

        background-image: image-url("projects/mcom/mcom_cover.png");
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: cover;

        .logo {
          width: 250px;
          height: 100px;
          margin-top: 180px;
          background-repeat: no-repeat;
          background-size: 100%; 
          background-image: image-url("projects/mcom/mcom.png");
        }
        .desc {
          font-size: 30px;
          font-family: "adelle", "Helvetica", Helvetica, Arial, sans-serif;
          max-width: 500px;
          margin-top: 100px;
        }
      }

      .homepage_intro_section {
        color: white;
        padding: 100px 0;
        .main_paragraph {
          margin-top: 60px;
          max-width: 580px;
          overflow: hidden;
          color: #aaa;
          font-family: "adelle", "Helvetica", Helvetica, Arial, sans-serif;
          font-size: 18px;
          .icon {
            height: 115px;
            width: 90px;
            border-right: 2px solid rgba(250,250,250,0.1);
            margin-right: 20px;
            float: left;
            background-repeat: no-repeat;
            background-position: center;
            background-image: image-url("projects/mcom/home_icon.png");
          }
          p {
            display: block;
            padding: 30px 0;
          }
        }
        .feature_lists {
          color: #aaa;
          padding-left: 100px;
          max-width: 580px;
        }
        .supporting_image {
          height: 1000px;
          width: 400px;
          margin-top: -450px;
          margin-right: -50px;
          background-repeat: no-repeat;
          background-size: 100%;
          background-image: image-url("projects/mcom/mcom_main_iphone.png");
          @include transition(all 2s ease-in-out);
          opacity: 0;
          &.start {
            margin-top: -550px;
            margin-right: 0px;
            opacity: 1;
          }
        }
      }

      .features_section {
        padding: 100px 0;
        color: white;
        .inner_container {
          .img {
            width: 250px;
            height: 250px;
            margin: auto;
            margin-top: 50px;
            opacity: 0.5;
            @include transition(all 1s ease-in-out);
            @include radius(50%);
            margin-bottom: 50px;
            background-repeat: no-repeat;
            background-size: 100%; 
            &.feature_1 {
              background-image: image-url("projects/mcom/mcom_feature_1.png");  
            }
            &.feature_2 {
              background-image: image-url("projects/mcom/mcom_feature_2.png");  
            }
            &.feature_3 {
              background-image: image-url("projects/mcom/mcom_feature_3.png");  
            }
            
          }
          p {
            text-align: center;
            font-size: 18px;
            max-width: 300px;
            margin: 0 auto;
          }

          &.start {
            .img {
              opacity: 1;
              margin-top: 0px;
            }
          }
        }
      }

      .pdp_section {
        padding: 100px 0 0 0;

        background-image: image-url("projects/mcom/mcom_pdp_cover.jpg");
        background-color: #000;
        background-repeat: no-repeat;
        background-size: 100%; 
        
        .main_paragraph {
          color: white;
          text-align: center;
          margin: 50px 0 100px 0;
          font-size: $main_headline_font_size;
          font-family: "adelle", "Helvetica", Helvetica, Arial, sans-serif;
          @include scale(.9);
          @include transition(all 1s ease-in-out);
          &.start {
            @include scale(1);
          }
        }

        .feature {
          max-width: 240px;
          margin: 50px auto 0;
          .icon {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            @include radius(50%);
            background-repeat: no-repeat;
            background-size: 100%; 
            &.pdp_feature_1 {
              background-image: image-url("projects/mcom/mcom_pdp_feature_1.png");
            }
            &.pdp_feature_2 {
              background-image: image-url("projects/mcom/mcom_pdp_feature_2.png");
            }
            &.pdp_feature_3 {
              background-image: image-url("projects/mcom/mcom_pdp_feature_3.png");
            }
            &.pdp_feature_4 {
              background-image: image-url("projects/mcom/mcom_pdp_feature_4.png");
            }
          }
          p {
            color: white;
            text-align: center;
            max-width: 250px;
            margin-top: 10px;
          }
        }
        .phone {
          width: 350px;
          height: 730px;
          margin: 0 auto;
          background-repeat: no-repeat;
          background-size: 100%; 
          background-image: image-url("projects/mcom/mcom_pdp_main_phone.png");
        }
      }

      .image_grid_holder {
        height: 1115px;
        margin-top: 200px;
        background-repeat: no-repeat;
        background-size: 100%; 
        background-image: image-url("projects/mcom/mcom_bottom_cover.png");
      }
    }



    /*BCOM*/
    .bcom_main_container {
      background-color: #000;
      color: white;
      padding: 0 !important;
      .top_intro_section {
        .logo {
          width: 350px;
          height: 100px;
          margin-top: 180px;
          background-repeat: no-repeat;
          background-size: 100%; 
          background-image: image-url("projects/mcom/bcom.png");
        }
        .desc {
          font-size: 30px;
          font-family: "adelle", "Helvetica", Helvetica, Arial, sans-serif;
          max-width: 500px;
          margin-top: 100px;
        }
/*        color: white;
        padding: 100px 0;
        .logo {
          width: 250px;
          height: 100px;
          border: 1px solid white;
          margin-top: 60px;
          margin-bottom: 50px;
        }
        .desc {
          font-size: $main_headline_font_size;
          margin-bottom: 100px;
        }*/

      }

      .homepage_intro_section {
        color: white;
        padding: 0px 0 50px 0;
        margin-top: 200px;
        border: 1px solid transparent;
        height: 1200px;
        background-image: image-url("projects/mcom/bcom_main_cover.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        & > .image {
          border: 1px solid transparent;
          margin-top: -350px;
          width: 98%;
          height: 900px;
          max-width: 1300px;
          background-repeat: no-repeat;
          background-size: 100%; 
          background-image: image-url("projects/mcom/bcom_main_iphone.png");
          
        }


        .main_paragraph {
          margin-top: 60px;
          max-width: 580px;
          overflow: hidden;
          color: #aaa;
          font-family: "adelle", "Helvetica", Helvetica, Arial, sans-serif;
          font-size: 18px;
          .icon {
            height: 165px;
            width: 90px;
            border-right: 2px solid rgba(250,250,250,0.1);
            margin-right: 20px;
            float: left;
            background-repeat: no-repeat;
            background-position: center;
            background-image: image-url("projects/mcom/home_icon.png");
          }
          p {
            display: block;
            padding: 10px 0;
          }
        }

        .feature_lists {
          color: #aaa;
          padding-left: 100px;
          max-width: 580px;
        }

        .supporting_image {
          height: 1000px;
          width: 460px;
          border: 1px solid white;
          margin-top: -400px;
        }
      }

      .lookbook_section {
        
        .main_paragraph {
          color: white;
          text-align: center;
          margin: 50px 0 100px 0;
          font-size: $main_headline_font_size;
          font-family: "adelle", "Helvetica", Helvetica, Arial, sans-serif;
          @include scale(.9);
          @include transition(all 1s ease-in-out);
          &.start {
            @include scale(1);
          }
        }

      }

      .lookbook_images {
        /*padding: 150px 0;*/
        .iphone_images {
          height: 1000px;
          margin: 0 auto;
          max-width: 1200px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: image-url("projects/mcom/bcom_lookbook.jpg");
        }

      }

    }




  }
}