body.projects_moovweb {


  .main_header {
    
    
    .custom_img {
      height: 500px;
      max-width: 600px;
      // border: 1px solid red;
      margin: 120px auto 0;
      background-image: image-url("moovweb_timeline.png");
      // background-size: cover;
      background-repeat: no-repeat;
      background-position: 3px 0px;
    }
  }


  .page_title {
    h1 {
      color: white;
    }
    h5 {
     color: white;
    }
  }

  .cat_main_container {
    padding: 40px 0;
  }



  .main_projects {

  }

  .timeline {
    height: 500px;
    border: 1px solid red;
  } 
}

