body.projects_moovweb {


  .main_header {
    background-image: image-url("projects/moovweb/cover.jpg");
    // background-size: cover;
    .custom_img {
      height: 3050px;
      max-width: 670px;
      margin: -10px auto 0;
      background-image: image-url("projects/moovweb/cover_1_v2.png");
      background-repeat: no-repeat;
    }
  }

  .main_containers {
    padding: 40px 0;
    &.main_brief {
      background-color: darken($secondary-color, 5%);
      border-bottom: 1px solid darken($secondary-color, 8%);
      // background-color: $primary-color;
      color: white;

    }
    &.project_branding_guide {
      background-color: $secondary-color;
      border-bottom: 1px solid darken($secondary-color, 3%);
      
    }
    &.project_website {
      background-color: lighten($secondary-color, 5%);
      border-bottom: 1px solid $secondary-color;
    }
  }

  .cat_header .detail .credits {
    font-size: 13px;
  }


  .special_projects {
    background-color: lighten($secondary-color, 8%);
  }

  .cat_main_container {
    padding: 40px 0;

    .custom_round_containers {
      .text {
        line-height: 1.5;
      }
      a {
        .bg_img {
          background-size: cover;
          @include box-shadow(0 0 0 2px darken($secondary-color, 2%), inset 0 0 0 1px rgba(250,250,250,0.2));
          &:hover {
            @include box-shadow(0 0 0 5px rgba($black, .7),inset 0 0 0 3px rgba(250,250,250,0.5));
          }
        }
        // &.branding_guide .bg_img {
        //   background-image: image-url("projects/moovweb/nav_brand.png");
        // }
        // &.corp_site .bg_img {
        //   background-image: image-url("projects/moovweb/nav_website.png");
        // }
        &.corp_blog .bg_img {
          background-image: image-url("projects/moovweb/nav_blog.png");
        }
        &.social_media .bg_img {
          background-image: image-url("projects/moovweb/nav_social.png");
        }
        &.harlem_shake .bg_img {
          background-image: image-url("projects/moovweb/nav_harlem_shake.png");
        }
        &.white_paper .bg_img {
          background-image: image-url("projects/moovweb/nav_whitepaper.png");
        }
        // &.console .bg_img {
        //   background-image: image-url("projects/moovweb/nav_console.png");
        // }
        &.promos .bg_img {
          background-image: image-url("projects/moovweb/nav_promotion.png");
        }
      }
    }

  }


  // .main_trigger .text {
  //   color: inherit;
  // }

}
