body.projects_moovweb {
  
  .page_title {
    h1 {
      color: white;
    }
    h5 {
     color: white;
    }
  }

  .cat_main_container {
    padding: 40px 0;
  }

  .main_header {
    background-image: none;
  }

  .main_projects {

  }

  .timeline {
    height: 500px;
    border: 1px solid red;
  } 
}

