body.projects {


  .main_header {
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: top center;
    background-size: auto 60%;
    height: 400px;
    overflow: hidden;
    .inner_container {
      overflow: hidden;
    }
  }

  .main_containers {
    .columns{
      margin: 25px auto;
      img {
        @include border-radius(2px);
        @include box-shadow(0 0 1px #000);
        overflow: hidden;
        margin: auto;
        display: block;
      }
      // span {
      //   display: block;
      //   padding: 10px;
      //   text-align: center;
      //   display: block;
      //   margin: auto;
      // }
    }

    &.main_brief {
      p.links {
        a {
          display: block;
        }
      }
    }
  }


  .main_project_viewer_container {
    .content, .main_img {
      display: none;
    }
  }



  #main_project_viewer_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    @include background(linear-gradient(top left, black, rgba(0,0,0,0.8) 40%));
    .main_inner_container {
      max-width: 1000px;
      padding: 10px;
      margin: 0 auto;
      .main_content {
        color: white;
        padding-top: 100px;
        max-width: 600px;
        h3 {
          color: white;
        }
        p.credits {
          font-size: 12px;
          opacity: 0.8;
        }
      }
      .main_img_container {
        img {
          margin: 40px 0;
          display: block;
          border: 1px solid rgba(250,250,250,0.2);
          @include box-shadow(0 0 2px #000);
          @include border-radius(5px);
          overflow: hidden;
          display: block;
        }
      }
      .thumb_container {
        margin: 10px; 
      }
    }
    #close_project_viewer {
      padding: 20px;
      background-color: $alert-color;
      color: white;
      text-align: center;
      font-weight: bold;
      position: fixed;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

}


@media only screen and (max-width: 560px) {
  body.projects .main_inner_container .main_header {
    background-size: 170%;
    background-position-x: -100px; 
    height: 200px;
    .custom_img {
      display: none;
    }
  }
}