body.projects {
	// .custom_round_containers {
	// 	.text {
	// 		color: $black;
	// 		line-height: 1.4;
	// 	}
	// 	.content, .main_img {
	// 		display: none;
	// 	}
	// }



  .main_conatainers {
    .columns{
      margin: 25px auto;
      img {
        border: 1px solid rgba(250,250,250,0.2);
        @include box-shadow(0 0 2px #000);
        @include border-radius(5px);
        overflow: hidden;
        margin: auto;
        display: block;
      }
      span {
        display: block;
        padding: 10px;
        text-align: center;
        display: block;
        margin: auto;
      }
    }
  }


  .main_project_viewer_container {
    .content, .main_img {
      display: none;
    }
  }






  #main_project_viewer_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background(linear-gradient(top left, black, rgba(0,0,0,0.8) 40%));
    .main_inner_container {
      max-width: 1100px;
      padding: 10px;
      margin: 0 auto;
      .main_content {
        color: white;
        padding-top: 100px;
        max-width: 600px;
        h3 {
          color: white;
        }
      }
      .main_img_container {
        img {
          margin: 10px 0;
          display: block;
        }
      }
      .thumb_container {
        margin: 10px; 
      }
    }
    #close_project_viewer {
      padding: 20px;
      background-color: $alert-color;
      color: white;
      text-align: center;
      font-weight: bold;
      position: fixed;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

}