body.projects_true_currency {
  background-color: darken($primary-color, 4%);  
  color: white;
  .main_header {
    background-image: image-url("projects/twurrl/cover.jpg");
  }
  .main_brief {
    a {
      color: $black;
    }
  }
}