body.projects_true_currency {
  background-color: $black;  
  color: white;


  .main_header {
    background-image: image-url("projects/twurrl/cover.jpg");
  }
  .main_brief {
    .inner_width {
      max-width: 700px;
    }
  }
}