body {
  min-width: 320px;
  font-family:  "adelle", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
  font-weight: 300;
}

.custom_round_containers {
  height: 140px;
  width: 110px;
  a {
    height: 110px;
    width: 110px;
    overflow: hidden;
    .bg_img {
      @include radius(50%);
      @include box-shadow(0 0 0 3px rgba($black, .5), inset 0 0 0 1px rgba(250,250,250,0.2));
      @include transition(box-shadow .2s ease-out,transform .1s ease-in);
      height: 100px;
      width: 100px;
      margin: 5px 0 0 5px;
      &:hover {
        @include box-shadow(0 0 0 5px rgba($black, .7),inset 0 0 0 3px rgba(250,250,250,0.5));
        @include transition(box-shadow .1s ease-out,transform .1s ease-in);
      }
      &:active {
        @include box-shadow(0 0 0 5px darken($primary-color, 5%));
      }
    }
    .text {
      color: white;
      text-align: center;
      margin-top: 10px
    }
  }


  img {
    margin: 5px 0 0 5px;
    @include radius(50%);
    @include box-shadow(0 0 0 3px rgba($black, .5), inset 0 0 0 2px rgba(250,250,250,0.2));
    @include transition(box-shadow .2s ease-out,transform .1s ease-in);
    height: 100px;
    width: 100px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background-color: white;

  }
  margin: 10px auto;
  &:hover {

    //@include transform(scale(0.97));
    img {
    @include box-shadow(0 0 0 5px rgba($black, .7),inset 0 0 0 3px rgba(250,250,250,0.5));
    @include transition(box-shadow .1s ease-out,transform .1s ease-in);
      // opacity: 0.9;
    }
  }
  &:active {
    img {
      @include box-shadow(0 0 0 5px darken($primary-color, 5%));
    }
  }
}


// Main page header
.main_header {
  background-color: $black;
  color: white;
  height: 650px;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  overflow: hidden;


  .bar1 {
    float: left;
    width: 10%;
    margin-left: 10%;
    height: 40px;
    border-left: 1px solid rgba(#fff, 0.1);
  }
  .bar2{
    float: left;
    height: 80px;
    width: 15%;
    border-left: 1px solid rgba(#fff, 0.2);
  }

  .bar3 {
    float: left;
    width: 63%;
    padding-left: 2%;    
    border-left: 1px solid rgba(#fff, 0.4);
    padding-top: 40px;
    .page_title {
      overflow: hidden;
      //border-left: 1px solid rgba(#fff, 0.3);
      //padding: 100px 0 10px 20px;
      text-shadow: 0 1px rgba(0,0,0,0.8);
      h1 {
        color: #fff;
        line-height: 1.5;
        margin: 0;
      }
      h5 {
        color: #fff;
        line-height: 1.5;
        font-weight: 100;
      }
    }
  }


}

// classes used across the site:
.max_width_center {
  max-width: 600px;
  margin: 0 auto;   
}

.icon_before_title {
  display: block;
  &:before {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid darken($primary-color, 10%);
    margin-right: 10px;
  }
}



@media only screen and (max-width: 480px) {
  .main_header {
    background-size: 150%;
    height: 300px;
    .bar1 { visibility: hidden;}
    .bar2 { display: none;}
    .bar3 { width: 75%;}
    .page_title {
      //margin-left: 15%;
      h1 {
        font-size: 18px;
      }
      h5 {
        font-size: 14px;
      }
    }
  }
  .custom_round_containers {
//    height: 80px;
//    width: 80px;
  }
}

.main_trigger {
  cursor: pointer;
}

.cat_header {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  h5 {
    border-bottom: 1px solid rgba(#333, .3);
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  &.color_white {
    h5 {
      color: white;
      border-bottom: 1px solid rgba(#fff, .3);
    }
  }
}

.main_nav_to_work {
  background-color: $primary-color;
  border-bottom: 2px solid darken($primary-color, 10%);
  border-top: 2px solid darken($primary-color, 10%);
  padding: 40px 0;
  .cat_header {
    margin-bottom: 40px;
  }
  .showcase {
    max-width: 600px;
    .custom_round_containers {
      .text {
        text-shadow: 0 1px 0 darken($primary-color, 10%);
        color: white;
      }
      &.moovweb a .bg_img{
        @include retina-sprite(moovweb);
      }
      &.eats a .bg_img{
        @include retina-sprite(eats);
      }
      &.agrion a .bg_img{
        @include retina-sprite(agrion);
      }
      &.virtus a .bg_img{
        @include retina-sprite(virtus);
      }
    }
  }
}

footer {
  background-color: darken($secondary-color, 10%);
  padding: 20px;
  text-align: center;
  color: rgba(#fff, .1);
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.7;
}


#main_project_viewer_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include background(linear-gradient(top left, black, rgba(0,0,0,0.8) 40%));
  .main_inner_container {
    max-width: 600px;
    margin: 0 auto;
    .main_content {
      color: white;
      padding-top: 100px;
      h3 {
        color: white;
      }
    }
    .main_img_container {
      max-width: 600px;
      margin: 10px;
      img {
        margin: 10px 0;
      }
    }
    .thumb_container {
      margin: 10px; 
    }
  }
  #close_project_viewer {
    padding: 20px;
    background-color: $alert-color;
    color: white;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}







