body {
  min-width: 320px;
  font-family:  "museo-slab", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
}

.custom_round_containers {
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-color: white;
  border: 1px solid #fff;
  @include radius(50%);
  @include box-shadow(0 0 0 3px rgba($black, .5));
  @include transition(box-shadow .2s ease-out,transform .1s ease-in);
  margin: 10px auto;
  &:hover {
    border: 2px solid #fff;
    @include box-shadow(0 0 0 5px rgba($black, .7));
    @include transition(box-shadow .1s ease-out,transform .1s ease-in);
    @include transform(scale(0.97));
  }
  &:active {
    @include box-shadow(0 0 0 5px darken($primary-color, 5%));
  }
}


// Main page header
.main_header {
  background-color: $black;
  color: white;
  height: 650px;
  background-image: image-url("homepage.jpg");
  background-repeat: no-repeat;
  // background-attachment:fixed;
  background-size: cover;
  overflow: hidden;


  .bar1 {
    float: left;
    width: 10%;
    margin-left: 10%;
    height: 40px;
    border-left: 1px solid rgba(#fff, 0.1);
  }
  .bar2{
    float: left;
    height: 80px;
    width: 15%;
    border-left: 1px solid rgba(#fff, 0.2);
  }

  .bar3 {
    float: left;
    width: 63%;
    padding-left: 2%;    
    border-left: 1px solid rgba(#fff, 0.4);
    padding-top: 40px;
    .page_title {
      overflow: hidden;
      //border-left: 1px solid rgba(#fff, 0.3);
      //padding: 100px 0 10px 20px;
      text-shadow: 0 1px rgba(0,0,0,0.8);
      h1 {
        color: #fff;
        line-height: 1.5;
        margin: 0;
      }
      h5 {
        color: #fff;
        line-height: 1.5;
        font-weight: 100;
      }
    }
  }


}

// classes used across the site:
.max_width_center {
  max-width: 600px;
  margin: 0 auto;   
}

.icon_before_title {
  display: block;
  &:before {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid darken($primary-color, 10%);
    margin-right: 10px;
  }
}



@media only screen and (max-width: 480px) {
  .main_header {
    height: 300px;
    .bar1 { visibility: hidden;}
    .bar2 { display: none;}
    .bar3 { width: 75%;}
    .page_title {
      //margin-left: 15%;
      h1 {
        font-size: 18px;
      }
      h5 {
        font-size: 14px;
      }
    }
  }
  .custom_round_containers {
//    height: 80px;
//    width: 80px;
  }
}

.cat_header {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  h5 {
    border-bottom: 1px solid rgba(#333, .3);
    padding-bottom: 20px;
  }
  &.color_white {
    h5 {
      color: white;
      border-bottom: 1px solid rgba(#fff, .3);
    }
  }
}

.main_nav_to_work {
  background-color: $primary-color;
  border-bottom: 2px solid darken($primary-color, 10%);
  padding: 40px 0;
  .cat_header {
    margin-bottom: 40px;
  }
  .showcase {
    max-width: 600px;
    .custom_round_containers {
    //  margin: auto;
    }
  }
}

footer {
  background-color: darken($secondary-color, 10%);
  padding: 20px;
  text-align: center;
  color: rgba(#fff, .3);
  font-size: 14px;
}