body.index {



  background-color: #eee;
  height: 100%;
  display: block;
  .main_inner_container {
    min-width: 320px;

    .cat_header {
      max-width: 600px;
      margin: 0 auto;
      overflow: hidden;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(#fff, .3);
      color: #fff;
      .icon {
        width: 100%;
        height: 40px; 
        border: 1px solid white;
      }
      h5 {
        color: white;
      }
    }


    .main_nav {
      background-color: $primary-color;
      border-top: 2px solid darken($primary-color, 10%);
      height: 170px;
      .row {
        max-width: 600px;
        margin: 0 auto;
        .custom_round_containers {
          margin: -50px auto 0 auto;
        } 
      }
    }

    .main_work {
      background-color: $primary-color;
      border-bottom: 2px solid darken($primary-color, 10%);
      padding-bottom: 40px;
      .cat_header {
        text-shadow: 0 1px darken($primary-color, 20%);
      }
      .showcase {
        max-width: 600px;
        margin: 80px auto;
        .custom_round_containers {
          margin: auto;
        }
      }
    }
    .main_about_me {
      padding-top: 100px;
      padding-bottom: 100px;
      .cat_header {
        border-bottom: 1px solid rgba($black, .1);
        h5 {
          color: $black;
        }
      }
      .main_about_me_content {
        max-width: 600px;
        margin: auto;
        p {
          padding: 10px 0;
          margin: 10px 0;
        }
      }
    }

    .main_lets_talk {
      border-bottom: 2px solid darken($black, 80%);
      border-top: 2px solid darken($black, 80%);
      background-color: $black;
      padding: 50px 0;
      color: white;
      .cat_header {
        margin-bottom: 50px;
        margin-top: 50px;
      }
      .main_lets_talk_content {
        max-width: 600px;
        margin: 0 auto;
        form {
          fieldset {
            color: transparent;
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            legend {
              display: none;
            }
          }
        }
      }
    }
  }


}