body.index {
  background-color: #eee;
  height: 100%;
  display: block;

  .main_inner_container {
    min-width: 320px;

    .main_header {
      background-image: image-url("homepage.jpg");
    }


    .main_nav {
      background-color: $primary-color;
      border-top: 2px solid darken($primary-color, 10%);
      padding-bottom: 80px;
      .row {
        margin: -65px auto 0 auto;
        .custom_round_containers {
          a .bg_img {
            background-color: #ddd;
          }
          .work .bg_img {
            @include retina-sprite(work);
          }
          .about_me .bg_img {
            @include retina-sprite(aboutme);
          }

          .talk_to_me .bg_img {
            @include retina-sprite(contact);
          }
          .blog .bg_img {
            @include retina-sprite(blog);
          }

        } 
      }
    }

    .main_nav_to_work {
      padding-bottom: 80px;
      border-top: none;
      h5 {
        color: white;
        border-bottom-color: rgba(250,250,250,0.4);
      }
    }


    .main_about_me {
      padding-top: 100px;
      padding-bottom: 100px;
      .cat_header {
        h5 {
          color: $black;
        }
        .icon_before_title::before {
          @include retina-sprite(mail);
          border: none;
        }
      }
      .main_about_me_content {
        p {
          padding: 10px 0;
          margin: 10px 0;
        }
      }
    }

    .main_lets_talk {
      //border-bottom: 2px solid darken($secondary-color, 20%);
      border-top: 2px solid darken($secondary-color, 10%);
      background-color: $secondary-color;
      padding: 80px 0;
      color: white;
      // .row {
      //   border: 1px solid red;
      // }
      .cat_header {
        h5 {
          color: #fff;
          border-bottom-color: rgba(250,250,250,0.4);
        }
      }

      a {
        display: block;
        color: white;
        margin: 20px auto;
        width: 180px;
        text-align: center;
        overflow: hidden;
        .text {
          display: inline-block;
          line-height: 1.7;
          &:before {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            float: left;
            margin-right: 10px;
            @include retina-sprite(mail);
          }
        }
        &:hover {
          opacity: 0.8;
        }
        &.email .text:before{
          @include retina-sprite(mail);
        }
        &.call .text:before{
          @include retina-sprite(call);
        }
        &.twitter .text:before{
          @include retina-sprite(twitter);
        }
        &.dribble .text:before{
          @include retina-sprite(dribble);
        }
        &.linkedin .text:before{
          @include retina-sprite(linkedin);
        }
        &.scoutzie .text:before{
          @include retina-sprite(scoutzie);
        }
      }

    }
  }


}

