
.main_grand_container {
  background-color: #eee;
  height: 100%;
  display: block;
  .main_inner_container {
    .main_header {
      background-color: $black;
      color: white;
      height: 650px;
      background-image: image-url("homepage.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      .row, .columns {
        padding-top: 0;
        margin-top: 0;
      }
      .page_title {
        overflow: hidden;
        border-left: 1px solid rgba($white, 0.3);
        padding: 50px 0 10px 20px;
        margin-left: 50%;
        h1 {
          color: white;
          line-height: 1.5;
          margin: 0;
        }
        .subheader {
         line-height: 1.5; 
        }
      }
    }
    .main_nav {
      background-color: $mainColor;
      border-top: 2px solid darken($mainColor, 10%);
      height: 170px;
      .row {
        max-width: 600px;
        margin: 0 auto;
        .custom_round_containers {
          margin: -50px auto 0 auto;
        } 
      }
    }
    .main_work {
      background-color: $mainColor;
      border-bottom: 2px solid darken($mainColor, 10%);
      padding-bottom: 40px;
      .showcase {
        max-width: 600px;
        margin: 80px auto;
        .custom_round_containers {
          margin: auto;
        }
      }
    }
    .main_about_me {
      padding-top: 100px;
      padding-bottom: 100px;
      .cat_header {
        border-bottom: 1px solid rgba($black, .1);
        h5 {
          color: $black;
        }
      }
      .main_about_me_content {
        max-width: 600px;
        margin: auto;
        p {
          padding: 10px 0;
          margin: 10px 0;
        }
      }
    }

    .main_lets_talk {
      border-bottom: 2px solid darken($black, 80%);
      border-top: 2px solid darken($black, 80%);
      background-color: $black;
      padding: 50px 0;
      color: white;
      .cat_header {
        margin-bottom: 50px;
        margin-top: 50px;
      }
      .main_lets_talk_content {
        max-width: 600px;
        margin: 0 auto;
        form {
          fieldset {
            color: transparent;
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            legend {
              display: none;
            }
          }
        }
      }
    }
  }
}