body.index {
  background-color: #eee;
  height: 100%;
  display: block;

  .main_inner_container {

    .main_header {
      
      // background-image: image-url("http://farm4.staticflickr.com/3453/3771050833_e605fc7e7a_o.jpg");
      // background-color: $primary-color;
      // background-repeat: no-repeat;
      // background-attachment:fixed;
      // background-position-x: center;
      // background-position-y: -00px;
      // background-size: auto 130%;
      // height: 400px;


      background-image: image-url("homepage.jpg");
      height: 550px;
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-size: cover;

    }
    

    .cat_header h5{
      font-size: 18px;
    }

    .main_nav {
      background-color: $primary-color;
      border-top: 2px solid darken($primary-color, 12%);
      padding-bottom: 50px;
      .row {
        margin: -65px auto 0 auto;
        .custom_round_containers {
          a {
            .text {
              font-weight: 500;
            }
            .bg_img {
              background-color: #ddd;
              background-image: image-url("sprites/main_nav_sprite.png");
              background-size: 400px 200px;
              &:hover {
                background-position-y: -100px;
              }
            }
          }
          // .work .bg_img {}
          .about_me .bg_img {
            background-position-x: -100px; }
          .talk_to_me .bg_img {
            background-position-x: -200px; }
          .blog .bg_img {
            background-position-x: -300px; }
        } 
      }
    }

    .main_about_me {
      padding: 140px 0;
      .main_about_me_content {
        p {
          padding: 10px 0;
          margin: 10px 0;
          // max-width: 750px;
          font-size: 22px;
        }
      }

      // .round_circle {
      //   height: 305px;
      //   width: 305px;
      //   margin: 0px auto 20px;
      //   background-color: #ddd;
      //   @include border-radius(50%);
      //   background-image: image-url("homepage_bio.jpg");
      //   // background-size: 100%;
      //   // background-position: -300px -120px;
      //   // border: 1px solid #aaa;
      //   // @include border-radius(2px);
      //   @include box-shadow(0 0 1px #000);
      // }
    }

    .main_lets_talk {
      border-top: 2px solid darken($secondary-color, 10%);
      background-color: $secondary-color;
      padding: 70px 0;
      color: white;
      a {
        display: block;
        color: white;
        margin: 10px 0;
        padding: 20px;
        overflow: hidden;
        font-size: 18px;
        text-align: center;
        .text {
          display: inline-block;
          line-height: 1.7;
          &:before {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            float: left;
            margin-right: 10px;
            background-image: image-url("sprites/connect_icons_sprite.png");
            background-size: 90px 60px;
          }
        }
        &:hover {
          opacity: 0.8;
          // background-color: rgba(100,100,100,0.1);
          @include box-shadow (0 0 1px 1px rgba(250,250,250,0.1));
        }
        &.email, &.call {
          cursor: text;
        }
        // &.email .text:before{}           
        &.call .text:before{
          background-position-x: -30px; }
        &.twitter .text:before{
          background-position: 0 -30px; }
        &.dribble .text:before{
          background-position-x: -60px; }
        &.linkedin .text:before{
          background-position: -30px -30px; }
        &.scoutzie .text:before{
          background-position: -60px -30px; }
      }

    }
  }

}


@media only screen and (max-width: 560px) {
  body.index .main_inner_container {
    .main_header {
      background-size: auto 50%;
      background-position-x: -100px; 
      height: 300px;
    }
    .main_about_me {
      padding: 40px 0;
      .main_about_me_content p {
        font-size: 16px;  
      }
    }
    .main_lets_talk a {
      margin: 0 auto;
    }
  }
}
