.main_header
  .inner_container.max_width_center    
    .bar1
    .bar2
    .bar3
      %a.page_title{:href=>'/'}
        %h1 
          ="#{main_title}"
        %h5
          ="#{sub_title}"
  .custom_img
    - if defined?(img_url)
      %img{:src=>img_url}
