.main_nav_to_work#project_list
  .row.max_width_center
    .cat_header
      %h5 Here are a few of my projects
  .row.showcase.max_width_center
    .columns.small-6.medium-3.large-3
      .custom_round_containers.moovweb
        - link_to '/projects/moovweb.html' do
          .bg_img
          .text Moovweb
    .columns.small-6.medium-3.large-3
      .custom_round_containers.eats
        - link_to '/projects/eats.html' do 
          .bg_img
          .text Eats
    .columns.small-6.medium-3.large-3
      .custom_round_containers.twurrl
        - link_to '/projects/true_currency.html' do
          .bg_img
          .text Twurrl
    .columns.small-6.medium-3.large-3
      .custom_round_containers.clients
        - link_to '/projects/additional_clients.html' do
          .bg_img
          .text Add. Clients
    .columns.small-6.medium-3.large-3
      .custom_round_containers.digital_img
        %a.idle.has-tip.tip-top{:title=>"Coming Soon", " data-tooltip " => true}
          .bg_img.idle
          .text Branding
    .columns.small-6.medium-3.large-3
      .custom_round_containers.digital_img
        %a.idle.has-tip.tip-top{:title=>"Coming Soon", " data-tooltip " => true}
          .bg_img.idle
          .text Digital Imaging
    .columns.small-6.medium-3.large-3
      .custom_round_containers.fine_arts
        %a.idle.has-tip.tip-top{:title=>"Coming Soon", " data-tooltip " => true}
          .bg_img.idle
          .text Fine Arts
    .columns.small-6.medium-3.large-3
      .custom_round_containers.photography
        %a.idle.has-tip.tip-top{:title=>"Coming Soon", " data-tooltip " => true}
          .bg_img.idle
          .text Photography