#project_list
  .row
    .columns.cat_header.color_white
      %h5 A few of my projects:

  .row.showcase
    .columns.small-6.medium-4.large-4
      .moovweb.indiv_proj
        - link_to '/projects/moovweb.html' do
          .text Moovweb
    .columns.small-6.medium-4.large-4
      .eats.indiv_proj
        - link_to '/projects/eats.html' do 
          .text Eats
    .columns.small-6.medium-4.large-4
      .twurrl.indiv_proj
        - link_to '/projects/true_currency.html' do
          .text Twurrl
    .columns.small-6.medium-4.large-4
      .clients.indiv_proj
        - link_to '/projects/additional_clients.html' do
          .text Add. Clients
    .columns.small-6.medium-4.large-4
      .branding.indiv_proj
        - link_to '/projects/branding.html' do
          .text Branding Projects
    .columns.small-6.medium-4.large-4
      .fine_arts.indiv_proj
        - link_to '/projects/fine_arts.html' do
          .text Fine Arts