.main_nav_to_work#project_list
  .row.max_width_center
    .cat_header
      %h5.icon_before_title Here are a few of my projects
  .row.showcase.max_width_center
    .columns.small-6.medium-3.large-3
      .custom_round_containers.moovweb.idle
        / - link_to '/projects/moovweb.html' do
        %a.has-tip.tip-top{:title=>"Coming Soon", " data-tooltip " => true}
          .bg_img
          .text Moovweb
    .columns.small-6.medium-3.large-3
      .custom_round_containers.eats
        - link_to '/projects/eats.html' do 
          .bg_img
          .text Eats
    .columns.small-6.medium-3.large-3
      .custom_round_containers.agrion
        - link_to '/projects/agrion.html' do
          .bg_img
          .text Agrion
    .columns.small-6.medium-3.large-3
      .custom_round_containers.virtus
        - link_to '/projects/agrion.html' do
          .bg_img
          .text Virtus
    .columns.small-6.medium-3.large-3
      .custom_round_containers.island_earth
        - link_to '/projects/agrion.html' do
          .bg_img
          .text Branding
    .columns.small-6.medium-3.large-3
      .custom_round_containers.zeal
        - link_to '/projects/agrion.html' do
          .bg_img
          .text Digital Imaging
    .columns.small-6.medium-3.large-3
      .custom_round_containers
        - link_to '/projects/agrion.html' do
          .bg_img
          .text Fine Arts
    .columns.small-6.medium-3.large-3
      .custom_round_containers
        - link_to '/projects/agrion.html' do
          .bg_img
          .text Photography