.main_navigator_container
  .row
    .columns
      .inner_navigator_container
        .container
          %a.prev{:href=>"#{prev_link}", :class=>"#{prev_state}"}
          %a.grid{:onclick=>"scroll_to_el('project_list')"}
          %a.next{:href=>"#{next_link}", :class=>"#{next_state}"}
