%footer 
  .row
    .inner_footer_container
      .columns
        %p
          %span © Omar Jalalzada 2014, All right reserved
      .columns.large-4
        %p
          This site is built using 
          %a{:href=>"http://middlemanapp.com/", :target=>"_blank"} Middleman 
          infused with 
          %a{:href=>"http://foundation.zurb.com/", :target=>"_blank"} Zurb's Foundation framework
          which is maintened and version controlled on
          %a{:href=>"https://github.com/omar-jalalzada/portfolio", :target=>"_blank"}Github
      .columns.large-4.large-pull-4
        %p 
          It utilizes the latest front-end development technologies and
          %a{:href=>"http://http://sass-lang.com", :target=>"_blank"} Sass,
          %a{:href=>"http://compass-style.org", :target=>"_blank"}Compass,   
          %a{:href=>"https://typekit.com", :target=>"_blank"} Typekit,
          %a{:href=>"http://haml.info", :target=>"_blank"} Haml,
          %a{:href=>"http://livereload.com", :target=>"_blank"} Live Reload,
          %a{:href=>"http://middlemanapp.com/getting-started/index.html#toc_11",:target=>"_blank"} local build server,
          %a{:href=>"http://middlemanapp.com/advanced/improving-cacheability", :target=>"_blank"} caching
          , etc