%footer 
  %span © Omar Jalalzada 2013, All right reserved
  %p
    This site is built using 
    %a{:href=>"http://middlemanapp.com/", :target=>"_blank"}Middleman, 
    hosted on 
    %a{:href=>"http://blooming-reaches-7617.herokuapp.com.com/", :target=>"_blank"}Heroku
    and rivision controlled on 
    %a{:href=>"https://github.com/omar-jalalzada/portfolio", :target=>"_blank"}Github
  %p It utilizes the latest front-end development technologies such as 
  %a{:href=>"http://http://sass-lang.com", :target=>"_blank"} Sass,
  %a{:href=>"http://compass-style.org", :target=>"_blank"} Compass,
  %a{:href=>"https://typekit.com", :target=>"_blank"} Typekit,
  %a{:href=>"http://haml.info", :target=>"_blank"} Haml,
  %a{:href=>"http://livereload.com", :target=>"_blank"} Live Reload,
  %a{:href=>"http://middlemanapp.com/getting-started/index.html#toc_11",:target=>"_blank"} local build server,
  %a{:href=>"http://middlemanapp.com/advanced/improving-cacheability", :target=>"_blank"} caching,
  %a{:href=>"https://github.com/AdamBrodzinski/Retina-Sprites-for-Compass", :target=>"_blank"} retina enabled image spirites

  
