%span.content
  .header_content
    %h3 Blog
    %p 
      WWe wanted to be thought leaders within our space and have means of communicating our opinions. I created a Wordpress blog that can be utilized by multiple stake holders and let them easily generate content and publish. We managed to drive a hefty amount of traffic to our other web assets through this channel.
    %p I worked on this project with one of my designer Moly Yim and this was our first attempt on collaborating with Sketch 2.0 (didn't worked out quite well :)
%span.main_img
  %img.main_img_1{:data_src=>"/images/projects/moovweb/blog/homepage.png"}
  %img.main_img_2{:data_src=>"/images/projects/moovweb/blog/indiv_post.png"}