%span.content
  .row
    .columns.small-12.large-12
      %h3 Branding Guideline
  .row
    .columns.small-12.large-12
      %p 
        = lorem.paragraph
%span.main_img
  %img.main_img_1{:data_src=>"#{lorem.image('600x500',:text =>'Branding Guideline')}"}
  %img.main_img_2{:data_src=>"#{lorem.image('600x500',:text =>'Branding Guideline')}"}
  %img.main_img_3{:data_src=>"#{lorem.image('600x500',:text =>'Branding Guideline')}"}