%span.content
  .header_content
    %h3 Branding Guideline
    %p 
      As the Creative Director I wanted to create a branding guideline that would align all the creative efforts within the company. We were growing rapidly and the amount of content being generated were increasing significantly, this document introduced consistency and efficiency for all those efforts. I worked with one of my designers Moly Yim and created the following
      %a{:href=>"/images/assets/moovweb_branding_guideline.pdf"} PDF
%span.main_img
  %img.main_img_1{:data_src=>"/images/projects/moovweb/branding_guideline/definition.png"}
  %img.main_img_2{:data_src=>"/images/projects/moovweb/branding_guideline/categories.png"}
  %img.main_img_3{:data_src=>"/images/projects/moovweb/branding_guideline/alert.png"}
  %img.main_img_4{:data_src=>"/images/projects/moovweb/branding_guideline/icons.png"}
  %img.main_img_5{:data_src=>"/images/projects/moovweb/branding_guideline/iconset.png"}
  %img.main_img_6{:data_src=>"/images/projects/moovweb/branding_guideline/head.png"}
  %img.main_img_7{:data_src=>"/images/projects/moovweb/branding_guideline/sub_head.png"}
  %img.main_img_8{:data_src=>"/images/projects/moovweb/branding_guideline/iphones.png"}
  %img.main_img_9{:data_src=>"/images/projects/moovweb/branding_guideline/photography.png"}