%span.content
  .header_content
    %h3 Corporate Site
    %p 
      = lorem.paragraph
%span.main_img
  %img.main_img_1{:data_src=>"/images/projects/moovweb/corporate_website/homepage.png"}
  %img.main_img_2{:data_src=>"/images/projects/moovweb/corporate_website/product.png"}
  %img.main_img_3{:data_src=>"/images/projects/moovweb/corporate_website/pricing.png"}
  %img.main_img_4{:data_src=>"/images/projects/moovweb/corporate_website/additional.png"}
  %img.main_img_5{:data_src=>"/images/projects/moovweb/corporate_website/wireframes.png"}
  / %img.main_img_3{:data_src=>"/images/projects/moovweb/branding_guideline/alert.png"}
  / %img.main_img_4{:data_src=>"/images/projects/moovweb/branding_guideline/icons.png"}