%span.content
  .header_content
    %h3 Corporate Site
    %p 
      The public facing website was one of the most challenging tasks I had to deal with. Our ever evolving messaging, product direction and agility in content created interesting challenges that had to be dealt with. 
    %p 
      I designed and developed the site within a month and a half that resulted in higher engagment rates, longer visits and lower bounce rate. The development stack consist of Ruby on Rails deployed on Heroku and served through the Moovweb Platform. I utilized our own platform to create a single code base for both Mobile and Desktop, which was the first ever use case for showcasing "subdomain agnostic" abilities of the product.
%span.main_img
  %img.main_img_1{:data_src=>"/images/projects/moovweb/corporate_website/homepage.png"}
  %img.main_img_2{:data_src=>"/images/projects/moovweb/corporate_website/product.png"}
  %img.main_img_3{:data_src=>"/images/projects/moovweb/corporate_website/pricing.png"}
  %img.main_img_4{:data_src=>"/images/projects/moovweb/corporate_website/additional.png"}
  %img.main_img_5{:data_src=>"/images/projects/moovweb/corporate_website/wireframes.png"}