%span.content
  .header_content
    %h3 Harlem Shake the Web
    %p 
      When Harlem Shake videos were found under every rock you picked up, we wanted to ride the wave and create something slightly cooler. Ishan Anand, Hari Ananth and I got together to build a Bookmarklet that will make any website on the web do the shake.
    %p
      We launched it as a Valentine Gift to web 
      %a{:href=>"http://blog.moovweb.com/2013/02/happy-valentines-day-internet-behold-the-harlem-shake-bookmarklet/", :target=>"_blank"} through our blog 
      and drove about 26k of traffic on the same day with additional 16k on the following day.
      %br
      It was featured on
      %a{:href=>"http://techcrunch.com/2013/02/14/i-swear-this-is-the-last-harlem-shake-post-we-do/", :target=>"_blank"}Techcrunch,
      %a{:href=>"http://www.huffingtonpost.com/jason-gilbert/harlem-shake-bookmarklet-_b_2687818.html", :target=>"_blank"}Hufftingtpost, 
      %a{:href=>"https://news.ycombinator.com/item?id=5219782", :target=>"_blank"}HackerNews, 
      %a{:href=>"http://www.reddit.com/r/web_design/comments/18v0cg/this_website_does_the_harlem_shake_how_up_up_down/", :target=>"_blank"}Reddit
      and others.
    %p
      We didn't just create a bookmarklet, we created a revolution.
      %br
      A revolution of pointless extentions. I will die happy :)
      %br
      Youtube took our idea and did an 
      %a{:href=>"", :target=>"_blank"}easter egg. 
      A few others tried their own versions:
      %a{:href=>"http://harlemshakeify.com", :target=>"_blank"}Harlem Shakeify,
      %a{:href=>"http://www.hsmaker.com/", :target=>"_blank"} Harlem Shake Maker,
      and even a 
      %a{:href=>"https://chrome.google.com/webstore/detail/harlem-shake-the-web/ldejkceiibdbkgjfiagpjhjdadgkelib", :target=>"_blank"}chrome extention
      %br
      %br
      %a{:href=>"https://github.com/moovweb/harlem_shaker", :target=>"_blank"} [Github Repo]
      %br
      %br

      %iframe{:src=>"http://www.youtube.com/embed/90BcQJ3GRyM", :height=>"315", :width=>"100%", :allowfullscreen=>"", :frameborder=>"0"}
%span.main_img
  %img.main_img_1{:data_src=>"/images/projects/moovweb/harlem_shake/cnn.png"}