%span.content
  .header_content
    %h3 Harlem Shake
    %p 
      = lorem.paragraph
      %a{:href=>"http://blog.moovweb.com/2013/02/happy-valentines-day-internet-behold-the-harlem-shake-bookmarklet/", :target=>"_blank"} We blogged about it
      %iframe{:src=>"http://www.youtube.com/embed/90BcQJ3GRyM", :height=>"315", :width=>"100%", :allowfullscreen=>"", :frameborder=>"0"}
%span.main_img
  %img.main_img_1{:data_src=>"/images/projects/moovweb/harlem_shake/cnn.png"}