%span.content
  .header_content
    %h3 Social Media
    %p 
      We focused on social media to express our opinion and engage potential customers and in order to be effective in doing so we needed to have a professional consistent look and feel for all our medium.
%span.main_img
  %img.main_img_1{:data_src=>"/images/projects/moovweb/social/fb.png"}
  %img.main_img_2{:data_src=>"/images/projects/moovweb/social/linkedin.png"}
  %img.main_img_3{:data_src=>"/images/projects/moovweb/social/tw_corp.png"}
  %img.main_img_4{:data_src=>"/images/projects/moovweb/social/tw_dev.png"}
  %img.main_img_5{:data_src=>"/images/projects/moovweb/social/tw_jobs.png"}