%span.content
  .header_content
    %h3 Responsive Design White Paper
    %p 
      Moovweb's platform integrates nicely with RWD's best practices. In order to educate potential customers we created a 
      %a{:href=>"/images/assets/responsive_design_white_paper.pdf"} printable document 
      that can also be sent via PDF. This empowered our Sales staff with the right tool in regards to this conversation. 
    
    %p.credits
      Role: Creative Director and Lead Designer
      %br
      Additional Credits to: Moly Yim
%span.main_img
  %img.main_img_1{:data_src=>"/images/projects/moovweb/whitepaper/cover.png"}
  %img.main_img_2{:data_src=>"/images/projects/moovweb/whitepaper/additional.png"}
  %img.main_img_3{:data_src=>"/images/projects/moovweb/whitepaper/experience.png"}