%span.content
  .header_content
    %h3 Responsive Design White Paper
    %p 
      Moovweb's platform integerates nicely with Responsive Design's best practices. In order to educate potential customers we created a printable document that can also be sent via PDF. This empowered our Sales staff with the right tool in regards to this conversation. Credits to Moly Yim for all his work on this project and here is the 
      %a{:href=>"/images/assets/responsive_design_white_paper.pdf"} PDF
%span.main_img
  %img.main_img_1{:data_src=>"/images/projects/moovweb/whitepaper/cover.png"}
  %img.main_img_2{:data_src=>"/images/projects/moovweb/whitepaper/additional.png"}
  %img.main_img_3{:data_src=>"/images/projects/moovweb/whitepaper/experience.png"}