---
title: Omar Jalalzada - Homepage
---

.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "designer & front-end developer" }
  
  .main_nav
    .row.max_width_center
      .columns.small-6.large-3
        .custom_round_containers
          %a.work{:onclick=>"scroll_to_el('project_list')"}
            .bg_img
            .text Work
      .columns.small-6.large-3
        .custom_round_containers
          %a.about_me{:onclick=>"scroll_to_el('about_me')"}
            .bg_img
            .text About
      .columns.small-6.large-3
        .custom_round_containers
          %a.talk_to_me{:onclick=>"scroll_to_el('talk_to_me')"}
            .bg_img
            .text Contact
      .columns.small-6.large-3
        .custom_round_containers
          %a.blog{:href=>"http://blog.ojtwisted.com", :target=>"_blank"}
            .bg_img
            .text Blog

  = partial "partials/project_list"

  .main_about_me#about_me
    .row.max_width_center
      .cat_header
        %h5.icon_before_title Learn, implement, re-learn, repeat.
    .row.max_width_center
      .main_about_me_content
        .large-12.columns
          %p 
            = lorem.paragraph
          %p 
            = lorem.paragraph

  .main_lets_talk#talk_to_me
    .row.max_width_center
      .columns.small-4.large-4
        %a.email
          .bg_img
          .text 
            %span.has-tip.tip-top{:title=>"Copy to clipboard", " data-tooltip " => true} omar@ojtwisted
        
      .columns.small-4.large-4
        %a.call
          .bg_img
          .text 
            %span.has-tip.tip-top{:title=>"Copy to clipboard", " data-tooltip " => true} 
              (650)388-0106
        
      .columns.small-4.large-4
        %a.twitter{:href=>"https://twitter.com/ojtwisted", :target=> "_blank"}
          .bg_img
          .text @ojtwisted
        
    .row.max_width_center
      .columns.small-4.large-4
        %a{:href=>"http://www.linkedin.com/profile/view?id=71647679", :target=> "_blank"}
          .bg_img
          .text Linkedin
        
      .columns.small-4.large-4
        %a{:href=>"http://dribbble.com/ojtwisted", :target=> "_blank"}
          .bg_img
          .text Dribble
        
      .columns.small-4.large-4
        %a{:href=>"https://scoutzie.com/omar-jalalzada", :target=> "_blank"}
          .bg_img
          .text Scoutzie
