---
title: Omar Jalalzada - Homepage
---

.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "a visual designer" }
  
  .main_nav
    .row
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          %a.work{:onclick=>"scroll_to_el('project_list')"}
            .bg_img
            .text Work
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          %a.about_me{:onclick=>"scroll_to_el('about_me')"}
            .bg_img
            .text About
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          %a.talk_to_me{:onclick=>"scroll_to_el('talk_to_me')"}
            .bg_img
            .text Contact
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          %a.blog{:href=>"http://blog.ojtwisted.com", :target=>"_blank"}
            .bg_img
            .text Blog

  = partial "partials/project_list"

  .main_about_me#about_me
    .row
      .columns.cat_header
        %h5 A little about me:
    .row
      .columns.large-8.bio_msg
        .main_about_me_content
          / %p 
          /   I'm Omar Jalalzada, a San Francisco based designer. Born in Kabul, Afghanistan I started my journey far from where I currently stand, it gave me perspective and the ability to look at life holistically. 
          / %p 
          /   In my opinion good design doesn't just stop at perfecting pixels; understanding business goals, target markets and a product's vision are key factors that should drive design decisions. 
          /   I'm passionate about impacting human lives with design. So, I work with brands to elevate the human attributes of their product and make it more accessible to their consumers.
          %p 
            Hi, I'm Omar Jalalzada, a visual designer for digital products. I craft simplified designs in which the form follows function with a pixel perfect execution. 
          %p
            I'm also passionate about human behaviors. So, I work with brands to elevate the human attributes of their product and make it more accessible to their consumers.

      / .columns.large-3.medium-3
      /   .round_circle


  .main_lets_talk#talk_to_me
    .row
      .columns.cat_header.color_white
        %h5 Lets connect or drop me a line
    .row
      .columns.small-12.medium-6.large-4
        %a.email
          .text omar@ojtwisted.com
      .columns.small-12.medium-6.large-4
        %a.call
          / .text.has-tip.tip-top{:title=>"Copy to clipboard", " data-tooltip " => true}  (650)388-0106
          .text (650)388-0106
      .columns.small-12.medium-6.large-4
        %a.twitter{:href=>"https://twitter.com/ojtwisted", :target=> "_blank"}
          .text @ojtwisted
      .columns.small-12.medium-6.large-4
        %a.linkedin{:href=>"http://www.linkedin.com/profile/view?id=71647679", :target=> "_blank"}
          .text Linkedin
      .columns.small-12.medium-6.large-4
        %a.dribble{:href=>"http://dribbble.com/ojtwisted", :target=> "_blank"}
          .text Dribbble
      .columns.small-12.medium-6.large-4
        %a.scoutzie{:href=>"https://scoutzie.com/omar-jalalzada", :target=> "_blank"}
          .text Scoutzie
